#__next-prerender-indicator {
  display: none !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Calibri", sans-serif !important;
  position: relative;
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
}

body::after {
  content: "";
  display: block;
  height: 20px; /* Set same as footer's height */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 60px !important;
  height: 60px !important;
}

@media all and (max-width: 450px) {
  .mobile-compatible {
    padding: auto;
    width: 100% !important;
    flex-direction: column;
  }
}

.no-border {
  border: none !important;
}

.black-border {
  border: 1px solid black !important;
}

.white-border {
  border: 1px solid white !important;
}

.grey-border {
  border: 1px solid #dee2e6 !important;
}

.blue-border {
  border: 1px solid #17a2b8 !important;
}

.border-radius {
  border-radius: 3px !important;
}

.mobile-adaptive-card-container {
  min-width: 350px !important;
}

.inline-form-custom {
  display: inline !important;
}

.small-input {
  max-width: 80px !important;
}

.small-text {
  font-size: 0.8rem !important;
}

.kinda-small-text {
  font-size: 0.95rem !important;
}

.navbar-flag-row {
  padding-left: 0.5rem !important;
  margin-left: 0 !important;
}

@media all and (max-width: 600px) {
  .navbar-flag-row {
    padding-left: 0 !important;
    padding-right: 0.8rem !important;
  }
}

.flag-icon-btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.flag-icon {
  width: 35px;
  height: 22px;
  object-fit: cover;
}

.special-bottom-border {
  border-bottom: 1px solid #dee2e6;
}

.article-img-sm-left {
  max-height: 130px !important;
  max-width: 100% !important;
  object-fit: contain;
  float: left !important;
}

.article-img-md-left {
  max-height: 250px !important;
  max-width: 100% !important;
  object-fit: contain;
  float: left !important;
}

.article-img-lg-center {
  max-width: 100% !important;
  object-fit: contain;
}

.article-img-sm-right {
  max-height: 130px !important;
  max-width: 100% !important;
  object-fit: contain;
  float: right !important;
}

.article-img-md-right {
  max-height: 250px !important;
  max-width: 100% !important;
  object-fit: contain;
  float: right !important;
}

.no-bottom-border {
  border-bottom: none !important;
}

.fake-navbar-item {
  background-color: white !important;
  line-height: 2.5 !important;
  border-top: 1px solid #dee2e6 !important;
  border-right: 1px solid #dee2e6 !important;
  border-left: 1px solid #dee2e6 !important;
  border-radius: 5px;
}

.height-100 {
  height: 100% !important;
}

.custom-pagination > li > a {
  background-color: white !important;
  color: #17a2b8 !important;
}

.custom-pagination > li > a:focus,
.custom-pagination > li > a:hover,
.custom-pagination > li > span:focus,
.custom-pagination > li > span:hover {
  color: #5a5a5a !important;
  background-color: #eee !important;
  border-color: #ddd !important;
}

.custom-pagination > .active > a {
  color: white !important;
  background-color: #17a2b8 !important;
  border: solid 1px #17a2b8 !important;
}

.custom-pagination > .active > a:hover {
  background-color: #17a2b8 !important;
  border: solid 1px #17a2b8 !important;
}

.page-item.active .page-link {
  background-color: #17a2b8 !important;
  border: solid 1px #17a2b8 !important;
}

#glossary-word-container {
  background-color: black !important;
}

#glossary-word {
  text-decoration: underline !important;
  color: #17a2b8 !important;
}

#glossary-popover {
  background-color: rgb(131, 203, 221) !important;
}

#glossary-popover-title {
  color: white !important;
  background-color: #17a2b8 !important;
}

#glossary-popover-content {
  background-color: rgb(131, 203, 221) !important;
}

#glossary-popover-footer {
  font-size: 0.9rem !important;
  color: white !important;
  background-color: #17a2b8 !important;
}

.article-paragraph {
  font-size: 1.1em !important;
}

.article-preview-img {
  max-width: 800px;
  max-height: 250px;
  object-fit: cover;
}

.article-preview-title {
  font-weight: 800 !important;
}

.article-preview-subtitle {
  font-weight: 400 !important;
}

.related-article-preview-img {
  height: 120px;
  width: 120px;
  object-fit: cover !important;
}

.related-article-preview-title {
  font-weight: 800 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.overflow.hidden {
  overflow: hidden;
}

.consultation-card-title {
  font-size: 2rem !important;
  font-weight: 400 !important;
}

.consultation-card-header {
  background-color: #17a3b8c4 !important;
}

.consultation-card-body {
  background-color: rgb(131, 203, 221, 0.5) !important;
}

.consultation-card-footer {
  background-color: #17a3b8c4 !important;
}

.navbar-row {
  height: 90px;
  border-bottom: 1px solid #17a3b8c4 !important;
}

@media all and (max-width: 600px) {
  .navbar-row {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    border-bottom: 1px solid #17a3b8c4 !important;
  }
}

.breadcrumbs {
  background-color: rgb(131, 203, 221) !important;
  font-size: 1em;
  border-bottom: 1px solid #17a3b8c4;
}

.breadcrumbs a {
  color: #343a40;
}

.error-img {
  max-height: 300px !important;
  object-fit: contain;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card-darker-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.resulting-article-container {
  min-height: 50vh;
}

.h-100 {
  height: 100%;
}

.email-form label {
  font-size: 1.3em;
  margin-bottom: 0;
}

.email-formgroup {
  margin-bottom: 0 !important;
  max-width: 391px !important;
}

.email-form-checkbox-label label {
  font-size: 1em;
}

.chiSiamoImg {
  max-height: 600px !important;
}

.chisiamo-text {
  font-size: 1.2em;
}

.text-justify-desktop-only {
  text-align: justify;
  text-justify: inter-word;
}

@media all and (max-width: 600px) {
  .text-justify-desktop-only {
    padding: 0 !important;
    /* Commentare align e justify se si vuole il text-justified in versione mobile (chiedere parere al signor Gaetano)*/
    text-align: unset;
    text-justify: inter-word;
  }
}

.responsive-width-card {
  width: 75% !important;
}

@media all and (max-width: 600px) {
  .responsive-width-card {
    width: 100% !important;
  }
}

.pdfviewer-dialog {
  min-width: 50% !important;
}

@media all and (max-width: 770px) {
  .pdfviewer-dialog {
    min-width: 100% !important;
  }
}

#pdf_renderer {
  overflow: scroll !important;
}

@media all and (max-width: 770px) {
  #pdf_renderer {
    overflow: auto !important;
  }
}

#canvas_container {
  overflow: auto !important;
}

@media all and (max-width: 770px) {
  #canvas_container {
    overflow: auto !important;
    display: block;
  }
}

.spinner-container {
  width: 100% !important;
  padding: 0.5rem !important;
  justify-content: center !important;
  position: fixed;
  top: 45% !important;
  z-index: 9999 !important;
  margin: 0 !important;
}

.spinner-style {
  display: flex;
  border: 50px solid;
  border-color: rgb(131, 203, 221);
  border-bottom-color: transparent;
  width: 3.3rem !important;
  height: 3.3rem !important;
}

.my_pdf_viewer-preCanvas {
  z-index: -9000 !important;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15%;
  padding-right: 15%;
}

.my_pdf_viewer-postCanvas {
  z-index: 10 !important;
  padding-top: -500px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.chevron-container {
  padding-top: 0.15rem !important;
}

.search-select-1 {
  color: white !important;
  border-right: none !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  background-color: #17a2b8 !important;
  font-size: 600 !important;
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

textarea:hover,
textarea:active,
textarea:focus,
label:focus,
.datepicker-input,
.select {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.fixed-width-card {
  width: 50% !important;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  width: 100%;
}

.datepicker-input {
  border: 1px solid #17a2b8 !important;
  border-radius: 5px;
  width: 100%;
}

.form-with-on-blur {
  z-index: 5000 !important;
}

.auto-suggest-list-container {
  max-height: 250px !important;
  overflow-y: scroll !important;
}

.react-datepicker-popper {
  z-index: 9999 !important;
}

.border-red {
  border: 1px solid red !important;
}

.clickable-badge {
  cursor: pointer;
}

.quiz-header {
  /* position: absolute !important;
  top: 15% !important; */
}

.quiz-timer-container {
  /* position: relative !important;
  top: 15% !important; */
}

.quiz-body {
  /* position: relative !important;
  top: 15% !important; */
}

.red-alert-text {
  color: red !important;
}

.topic-filter-header {
  height: 50px;
}

.remove-topic-filter-btn {
  font-size: 0.75rem;
  position: absolute;
  right: 3%;
  top: 2%;
}

@media all and (max-width: 500px) {
  .topic-filter-header {
    height: 70px;
  }
  .remove-topic-filter-btn {
    position: relative;
    width: 100%;
    top: 50%;
    left: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.archive-result-container {
  max-width: 835px !important;
  justify-self: center;
}

.reset-filter-btn {
  font-size: 0.6rem !important;
  padding-left: 0.4rem !important;
  padding-right: 0.4rem !important;
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
}

.consultation-choice-btn {
  height: 140px;
}

.bg-red {
  border: 1px solid red;
  background-color: red !important;
}

.bg-blue {
  border: 1px solid blue;
  background-color: blue !important;
}

.bg-green {
  border: 1px solid green;
  background-color: green !important;
}

.bg-yellow {
  border: 1px solid yellow;
  background-color: yellow !important;
}

.bg-grey {
  border: 1px solid #343a40;
  background-color: #343a40 !important;
}


.text-red {
  color: red !important;
}

.text-white {
  color: white !important;
}

.text-blue {
  color: blue !important;
}

.text-green {
  color: green !important;
}

.text-yellow {
  color: yellow !important;
}

.text-grey {
  color: #343a40 !important;
}

.text-MG-blue {
  color: #17a2b8 !important;
}

.bg-standard-blue {
  background-color: #83cbdd !important;
}

.bg-lighter-blue {
  background-color: rgb(167, 222, 236) !important;
}

.text-MG-dark-grey {
  color: #343a40 !important;
}

.border-MG-blue {
  border: 1px solid #17a2b8 !important;
}

/* grandezze massime per ogni table col - start */
.td-ita  {
  max-width: 350px !important;
}

.td-eng  {
  max-width: 350px !important;
}

.td-riferimento  {
  max-width: 200px !important;
}

.td-termini  {
  max-width: 350px !important;
}

.td-GDPR  {
  max-width: 175px !important;
}

.td-d-legis  {
  max-width: 175px !important;
}

.td-altre-norme  {
  max-width: 175px !important;
}
/* grandezze massime per ogni table col - end */
