.container {
  min-height: 100vh;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
}

@media (max-width: 600px) {
  .container {
    min-height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    /*align-items: center;*/
  }
}

.main {
  width: 100%;
  padding-top: 0.5em;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-bottom: 5em !important;
}

@media (max-width: 600px) {
  .main {
    width: 100%;
    padding-top: 0.5em;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10em !important;
  }
}

.navbar {
  width: 100%;
  display: flex;
  margin: auto !important;
}

.navbarText {
  text-align: center;
  font-size: 1.2rem;
  color: #343a40;
  font-weight: 400;
  border-right: solid 1px #17a2b8 !important;
}

@media (max-width: 600px) {
  .navbarText {
    text-align: center;
    font-size: 1.2rem;
    color: #343a40;
    font-weight: 400;
    border-right: none !important;
    border-bottom: solid 1px #17a2b8 !important;
    border-radius: 2px;
    margin-bottom: 1px;
  }
  .responsiveFlagIcon {
    margin-top: 1em;
  }
}

.navbarDivider {
  border-right: 1px solid #343a4041;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.dropdownTitle {
  font-size: 1.2em;
  color: #343a40 !important;
  font-weight: 600 !important;
}

.dropdownOption {
  font-size: 1em;
  color: #343a40!;
  font-weight: 400;
}

.carouselContainer {
  width: 100%;
  text-shadow: 1px 1px 2px red, 0 0 1em #0070f3, 0 0 0.2em #0070f3;
  margin-bottom: 2rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  border-top: 1px solid #17a3b8c4;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .footer {
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 80px;
    border-top: 1px solid #17a3b8c4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.navbarLogoContainer {
  margin-right: 1em;
  padding: 0 !important;
  height: 100%;
}

.navbarLogo {
  padding: 0px !important;
  height: 60px;
  color: rgb(75, 73, 73);
  cursor: pointer;
}

@media (max-width: 600px) {
  .navbarLogoContainer {
    margin-right: 0 !important;
    padding: 0 !important;
    height: 100px !important;
    text-align: center;
    object-fit: fill;
  }
  .navbarLogo {
    padding: 0px !important;
    height: 100px !important;
    object-fit: fill;
    color: rgb(75, 73, 73);
    cursor: pointer;
  }
}

.footerText {
  padding-right: 0 !important;
  padding-left: 0 !important;
  line-height: 2;
  text-align: right !important;
}

.footerLogoContainer {
  line-height: -3 !important;
  padding: 0 !important;
  height: 100%;
}

.footerLogo {
  padding: 0px !important;
  height: 2.5em;
  color: rgb(75, 73, 73);
  cursor: pointer;
  margin: auto !important;
}

@media (max-width: 600px) {
  .footerText {
  }
  .footerLogoContainer {
    position: absolute;
    right: 90%;
    top: 5%;
    height: 0;
  }
  .footerLogo {
  }
  .footerBtnContainer {
    position: absolute;
    right: 0;
    bottom: 100%;
    padding-bottom: 5%;
  }
  .footerBtn {
    position: absolute;
    right: 1%;
    bottom: 30%;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.home-text-left {
  font-size: 1.2em;
  text-align: "left";
}

.home-text-right {
  font-size: 1.2em;
  text-align: "right";
}

.home-text-center {
  font-size: 1.2em;
  text-align: "center";
}

.bg-red {
  border: 1px solid red;
  background-color: red !important;
}

.bg-blue {
  border: 1px solid blue;
  background-color: blue !important;
}

.bg-green {
  border: 1px solid green;
  background-color: green !important;
}

.bg-yellow {
  border: 1px solid yellow;
  background-color: yellow !important;
}

.bg-grey {
  border: 1px solid #343a40;
  background-color: #343a40 !important;
}

.text-red {
  color: red !important;
}

.text-blue {
  color: blue !important;
}

.text-green {
  color: green !important;
}

.text-yellow {
  color: yellow !important;
}

.text-grey {
  color: #343a40 !important;
}

.text-MG-blue {
  color: #17a2b8 !important;
}

.text-MG-dark-grey {
  color: #343a40 !important;
}

.footerLink {
  font-size: 13px;
  margin-right: 40px;
  font-weight: 600;
}

.facebookLogo {
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin-right: 40px;
}

.linkedinLogo {
  align-self: center;
  height: 19.4px;
  width: 80px;
  cursor: pointer;
  margin-right: 40px;
}

.desktopOnly {
  display: flex;
}

@media screen and (max-width: 600px) {
  .desktopOnly {
    visibility: hidden;
    clear: both;
    float: left;
    display: none;
    opacity: 0;
  }
}

@media screen and (min-width: 601px) {
  .mobileOnly {
    visibility: hidden !important;
    clear: both !important;
    float: left !important;
    display: none !important;
    opacity: 0 !important;
  }
}

@media screen and (max-width: 600px) {
  .mobileOnly {
    display: flex;
  }
}
